/* Haut de la page*/
header{
    text-align: center;
    top:0;
    color: white;

}

div.deco{
    margin-left:94%;
}

.btn-group .button {
    border: none;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;
}


.btn-group .button:hover {
    background-color: #EE401A;
    color: white;
}
div.fontHead{
    background-color: #EE401A;
}
div.font{

    background-color: darkred;
}
body{
    background-color: beige;
}

.Button-typeScenario.button{
    border: none;
    background-color: black;
    color: red;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;
}

.Button-typeScenario.button:hover {
    background-color: red;
    color: red;
}

div.Titre{
    text-align: center;
    color: #EE401A;
}

div.button_Suivant{
    display: flex;

}

footer{
    text-align: center;
    margin:0;
    padding:3%;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: beige;
    font-weight: bold;
    position: static;
    bottom:1%;
    right:1%;
    z-index:9999;
}

.btn-scenario .button {
    border: none;
    background-color: firebrick;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    width: 8%;
    transition-duration: 0.4s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.btn-scenario .button_select {
    border: none;
    background-color: beige;
    color: black;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    width: 8%;
    transition-duration: 0.4s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.btn-scenario {
    margin-left: 10%;
}

.btn-scenario .button:hover {
    background-color: #EE401A;
    color: white;
}

.text_area{
    text-align: center;
}