/* Haut de la page*/
header{
    text-align: center;
    top:0;
    color: #EE401A
}
/* box connexion */

div.f{
    text-align: center;
    font-size: 1.2em;
}

/* Carre rouge du bas de la page*/

div.sec{
    margin:0;
    padding:2%;
    position:static;
    bottom: 0;
    width:96%;
    text-align: center;
    font-size: 1em;
    color:white;
    background-color: #EE401A;
    font-weight: bold;




}


/* lien en dessous de la box connexion*/
div.compte{
    text-align: center;
    font-size: 1em;


}
/*page en global*/
body{
    background-color: beige;
}
div.trad {
    margin-left: 90%;
}