header{
    text-align: center;
    top:0;
    color: white;
    background-color: dodgerblue;



}

body{
    background-color: lightblue;
}

div.information {
    text-align: center;
    color: #0c76d9;
    font-family: Helvetica, sans-serif;

}

div.Aide {
    text-align: center;
    font-size: 1em;
}
footer{
    text-align: center;
    margin:0;
    padding:3%;
    position: static;
    bottom: 0;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: lightblue;
    font-weight: bold;
}




div.message{
    text-align: center;
    font-family: Helvetica, sans-serif;

}



.btn-group .button {
    border: none;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;
}


.btn-group .button:hover {
    background-color: dodgerblue;
    color: white;
}
div.btn-nav{
    text-align: center;
    background-color: #0c76d9;
}

div.Btn_Groupe{
    color: #0c76d9;
    float: left;
    padding:1%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: bold;

}



/* CSS */
.button-57 {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 15px;
    padding: 18px 18px 17px;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    background-color:dodgerblue;
    color: white;
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/*https://getcssscan.com/css-buttons-examples*/
/* CSS */
.button-28 {
    background-color: transparent;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    box-sizing: border-box;
    color: #0c76d9;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 40px;
    min-width: 0;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
    text-align: center;
}

.button-28:hover {
    color: #fff;
    background-color: #0c76d9;
}


div.footer-CreateScenario{
    text-align: center;
    margin:0;
    padding:1%;
    width:94%;
    font-size: 1em;
    font-weight: bold;
    position: static;
    bottom:1%;
    right:1%;
    z-index:9999;
}


.button-90 {
    color: #fff;
    padding: 0.5% 0.5%;
    border-radius: 100px;
    background-color: #0c76d9;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size:  10px;
    border: 0;
    touch-action: manipulation;
    cursor: pointer;
}