header{
    text-align: center;
    top:0;
    color: white;

}
div.fontHead{
    background-color: blue;
}

body{
    background-color: lightblue;
}

div.info {
    text-align: center;
    color: darkblue;
}

div.Aide {
    text-align: center;
    font-size: 1em;
}
footer{
    text-align: center;
    margin:0;
    padding:3%;
    position: static;
    bottom: 0;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: lightblue;
    font-weight: bold;
}




div.message{
    text-align: center;
}



.btn-group .button {
    border: none;
    background-color: dimgrey;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;

}


.btn-group .button:hover {
    background-color: blue;
    color: white;
}
div.font{

    background-color: darkblue;
}

div.Btn_Groupe{
    color: darkblue;
    float: left;
    padding:1%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: bold;


}

