#header.h1{
    height: 200px;
    text-align: center;
    top:0;

}

header{
    background-color: #e31616;
    text-align: center;
    color: white;


}

div.bouton_retour{
    padding-bottom: 10px;
}
div.connexion{
    text-align: center;
    border:solid;
}

label{
    display: inline-block;
    padding: 10px;
}
input {
    padding: 5px ;
}


footer {
    text-align: center;
    margin:0;
    padding:3%;
    position: absolute;
    bottom: 0;
    width:93%;
    font-size: 1em;
    color:white;
    background-color: red;
    font-weight: bold;
}