/* CSS haut de la page*/
header{
    text-align: center;
    top:0;
    color: #EE401A
}
body{
    background-color: beige;
}


div.bouton_retour{
    padding-bottom: 10px;
}
/* titre inscription*/
div.I{
    text-align: center;
    color: #EE401A;
}

/* box inscription*/

div.connexion{
    text-align: center;
    border:solid; background-color:  #EE401A;
    margin-left: 25%;
    margin-right: 25%;



}
/* espace label box*/
label{
    display: inline-block;
    padding: 10px;
}
/* taille label*/
input {
    padding: 5px ;
}


/* bas de la page*/
footer{
    text-align: center;
    margin:0;
    padding:3%;
    position: static;
    bottom: 0;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: beige;
    font-weight: bold;
}

/* lien utilisé :https://openclassrooms.com/forum/sujet/texte-saffiche-au-passage-de-la-souris */
/* message de condition de mdp*/
a.info:hover span {
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
    top: 30px; /* On positionne notre infobulle. */
    left: 20px;
    background: white;
    color: black;
    border: solid grey;
}

a.info {
    position: relative;
    color: black;
}

a.info span {
    display: none; /* On masque l'infobulle. */
}

a.info:hover {
    z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
    cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}