header{
    text-align: center;
    top:0;
    color: #EE401A
}



div.mess{
    color: darkblue;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;
}
div.box{
    background-color:   #EE401A;
    margin-left: 25%;
    margin-right: 25%;
    border:solid;
    text-align: center;

}




footer {
    text-align: center;
    margin:0;
    padding:3%;
    bottom: 0;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: beige;
    font-weight: bold;
    display: inline-block;
}
body{
    background-color: beige;
}





