/* Haut de la page*/
header{
    text-align: center;
    top:0;
    color: white;
    background-color: dodgerblue;

}

div.deconexion{
    margin-left:94%;
}

.btn-group .button {
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;
}


.btn-group .button:hover {
    background-color:dodgerblue;
    color: white;
}


.btn-scenario .button {
    border: none;
    background-color: #0c76d9;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    width: 8%;
    transition-duration: 0.4s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.btn-scenario .button_select {
    border: none;
    background-color: beige;
    color: black;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    width: 8%;
    transition-duration: 0.4s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.btn-scenario {
    margin-left: 10%;
}

.btn-scenario .button:hover {
    background-color: #0c76d9;
    color: white;
}

div.texte{
    font-weight: bold;
    text-align: center;
    margin-top: 8%;
    font-size: 25px;
    color:#0c76d9;

}
div.font{

    background-color: #0c76d9;
}

/*page en global*/
body{
    background-color: lightblue;
}

div.footer-CreateScenario{
    text-align: center;
    margin:0;
    padding:1%;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: lightblue;
    font-weight: bold;
    position: fixed;
    bottom:1%;
    right:1%;
    z-index:9999;
}

div.contrainte{
    margin-left: 14%;

}


h2{
    text-align: center;
    color:#0c76d9;
}

div.button_Suivant{
    display: flex;

}

div.Diagnostic{
    text-align: center;
}
footer{

    text-align: center;
    margin:0;
    padding:3%;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: lightblue;
    font-weight: bold;
    position: static;
    bottom:1%;
    right:1%;
    z-index:9999;
}

table,
td {
    border: 1px solid #0c76d9;
}


table,
tfoot {
    background-color: white;
    color: black;
    font-weight: bold;

}

th{
    color:white;
    background-color: #0c76d9;
}

div.title{
    color:dodgerblue;
    background-color: white;

}

button{
    background-color: dodgerblue;
    color:white;
    border-color: #0c76d9;
}

div.supprimer{
    color:red;
    text-align: center;
    font-weight: bold;

}

h4{
    color:dodgerblue;
    text-align: center;
}

