/* Haut de la page*/
header{
    text-align: center;
    top:0;
    color: #0c76d9
}
/* box connexion */

div.Connexion{
    text-align: center;
    font-size: 1.2em;
}

/* Carre rouge du bas de la page*/

div.securite{
    margin:0;
    padding:2%;
    position:static;
    bottom: 0;
    width:96%;
    text-align: center;
    font-size: 1em;
    color:white;
    background-color:  #0c76d9;
    font-weight: bold;
}
/* lien en dessous de la box connexion*/
div.href{
    text-align: center;
    font-size: 1em;


}
/*page en global*/
body{
    background-color: lightblue;
}
div.traduction {
    margin-left: 90%;
}
h2{
    text-align: center;
    color:  #0c76d9;
}
div.inscription{
    text-align: center;
    background-color:   #0c76d9;
    margin-left: 25%;
    margin-right: 25%;



}
div.inscription label{
    display: inline-block;
    padding: 10px;
}
div.inscription input {
    padding: 5px ;
}

/* lien utilisé :https://openclassrooms.com/forum/sujet/texte-saffiche-au-passage-de-la-souris */

a.MDP:hover span {
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
    top: 30px; /* On positionne notre infobulle. */
    left: 20px;
    background: white;
    color: black;
    border: solid grey;
}

a.MDP {
    position: relative;
    color: white;
    font-weight: bold;

}

a.MDP span {
    display: none; /* On masque l'infobulle. */
}

a.MDP:hover {
    z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
    cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}

footer{
    text-align: center;
    margin:0;
    padding:3%;
    position: static;
    bottom: 0;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: lightblue;
    font-weight: bold;
}

h3{
    color: dodgerblue;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;}

label{
    color:white;
    font-weight: bold;
    margin-left: 1%;
}




/* CSS */
.button-57 {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 19.5%;
    transition-duration: 0.4s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 15px;
    padding: 18px 18px 17px;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    background-color:dodgerblue;
    color: white;
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}





.button-28 {
    margin-left: 25%;
    background-color: transparent;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    box-sizing: border-box;
    color: #0c76d9;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 40px;
    min-width: 0;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
}

.button-28:hover {
    color: #fff;
    background-color: #0c76d9;
}



