/* Haut de la page*/
header{
    text-align: center;
    top:0;
    color: #0c76d9
}
/* box connexion */

div.Connexion{
    text-align: center;
    font-size: 1.2em;
}

/* Carre rouge du bas de la page*/

div.securite{
    margin:0;
    padding:2%;
    position:static;
    bottom: 0;
    width:96%;
    text-align: center;
    font-size: 1em;
    color:white;
    background-color:  #0c76d9;
    font-weight: bold;
}
/* lien en dessous de la box connexion*/
div.href{
    text-align: center;
    font-size: 1em;


}
/*page en global*/
body{
    background-color: lightblue;
}
div.traduction {
    margin-left: 90%;
}
h2{
    text-align: center;
    color:  #0c76d9;
}
div.inscription{
    text-align: center;
    border:solid; background-color:   #0c76d9;
    margin-left: 25%;
    margin-right: 25%;



}
div.inscription label{
    display: inline-block;
    padding: 10px;
}
div.inscription input {
    padding: 5px ;
}

/* lien utilisé :https://openclassrooms.com/forum/sujet/texte-saffiche-au-passage-de-la-souris */

a.MDP:hover span {
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
    top: 30px; /* On positionne notre infobulle. */
    left: 20px;
    background: white;
    color: black;
    border: solid grey;
}

a.MDP {
    position: relative;
    color: black;
}

a.MDP span {
    display: none; /* On masque l'infobulle. */
}

a.MDP:hover {
    z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
    cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}

footer{
    text-align: center;
    margin:0;
    padding:3%;
    position: static;
    bottom: 0;
    width:94%;
    font-size: 1em;
    color:white;
    background-color: lightblue;
    font-weight: bold;
}

h3{
    color: dodgerblue;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;}